%h3 Menu Choices
= form_for [current_user, @meal] do |m|
  .row
    .large-6.small-8.columns.small-vgap
      %label{:for => "meal_vegetarian"}
        = m.check_box :vegetarian
        Vegetarian Option - select if required

  .row
    .large-6.small-6.columns.small-vgap
      %label
        Choice of Drink 
        %span *subject to availability 
      = m.collection_select :wine, Meal::WINE, :to_s, :to_s, {}, { :class =>"medium" }

  .row
    .large-6.small-8.columns.small-vgap
      =m.label :coffee do
        = m.check_box :coffee
        Coffee - select if required
  
  .row
    .large-6.small-8.columns.small-vgap
      %label
        Allergies/Intolerances
      = m.text_area :allergies

  .row
    .large-6.small-8.columns.small-vgap
      %label
        Friends
        %span -for seating plans enter the names of friends you would like to sit with
      = m.text_area :friends

  .row
    .large-6.columns
      = m.submit "Submit Choices" ,:class=>"button inline"
