<h2>Sign in</h2>

<%= form_for(resource, :as => resource_name, :url => session_path(resource_name)) do |f| %>
  <%= content_tag(:div, flash[:error], :id => "flash_error", :class=>"alert-box alert") if 
flash[:error] %> 
 <%= content_tag(:div, flash[:notice], :id => "flash_notice", :class=>"alert-box success") if 
flash[:notice] %> 
 <%= content_tag(:div, flash[:alert], :id => "flash_alert", :class=>"alert-box") if 
flash[:alert] %>
 <!-- <a href="" class="close">&times;</a>-->
  
 <div class="row">
  <div class="two mobile-one columns" >
   <%= label resource_name, :email, :class=>"right inline" %>
  </div>
  <div class="eight mobile-three columns" >
   <%= email_field resource_name, :email, :autofocus => true, :class=> "six" %>
  </div>
</div>

 <div class="row">
   <div class="two mobile-one columns" >
   <%= label resource_name, :password, :class=>"right inline" %>
  </div>
  <div class="eight mobile-three columns" >
   <%= password_field resource_name, :password, :class=> "six" %>
 </div>
</div>

 <div class="row">
  <div class="two mobile-one columns" >
  </div>
  <div class="eight mobile-three columns" >
  <%= f.submit "Sign in" ,:class=>"button inline" %>
 </div>
</div>

<br/>

 <div class="row">
  <div class="four mobile-two columns" >
  <%= render "devise/shared/links" %>
 </div>
</div>
<% end %>


