
= form_for [:admin, @user] do |f|
  .row        
    .large-4.columns
      = render :partial => "shared/alert_block"

  .row
    .large-4.small-6.columns
      = f.label :name
      = f.text_field :name

  .row
    .large-4.small-6.columns
      = f.label :email
      = f.text_field :email

  .row
    .large-4.small-6.columns
      = f.label :admin do
        = f.check_box :admin
        %span
          Admin

  .row
    .large-4.columns
      = f.label :admin_only do
        = f.check_box :admin_only
        %span
          Admin Only (Not a guest)

  .row
    .large-4.small-6.columns
      = f.submit "Add User", :class => "button"






