.row
  .large-12.columns  
    %h5 Meals Summary

.row
  .large-12.columns  
    %table
      %tr
        %th 
        %th Name
        %th Chosen
        %th Vegetarian
        %th Coffee
        %th Wine
        %th Allergies
        %th Friends
      - @users.each do |user|
        %tr
          %td
          %td= user.name
          %td= true_false_icon(user.meal.chosen)
          %td= true_false_icon(user.meal.vegetarian)
          %td= true_false_icon(user.meal.coffee)
          %td= user.meal.wine
          %td= user.meal.allergies
          %td= user.meal.friends
      %tr
        %td Totals
        %td= @guest_count
        %td= @chosen_count
        %td= @veg_count
        %td= @coffee_count
        %td
        %td
        %td
.row
  .large-6.columns
    = link_to "Back", admin_users_path
